<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
      <hr></hr>
    <div class="row" id="bottom">
		<div class="large-5 columns">
			<dl class="sub-nav">
				<dd>&copy; Kevin Sau Yeung Kam 2015</dd>
				<dd class="hide-for-small"><a href="terms.html">Terms of Use</a></dd>
				<dd class="hide-for-small"><a href="policy.html">Privacy Policy</a></dd>
				<dd><a href="siteMap.html">Site Map</a></dd>
			</dl>
			</dl>
		</div>
		<div class="large-7 columns">
			<dl class="sub-nav">
				<dt class="hide-for-small">Connect with Me:</dt>
				<dd><a href="https://www.facebook.com/kevin.kam.351"><img src="assets/iconFacebook.png" alt="" /></a></dd>
				<dd><a href="https://ca.linkedin.com/pub/kevin-kam/3a/77/8b3/en"><img src="assets/iconLink.png" alt="" /></a></dd>
				<dd><a href="https://github.com/alweky/"><img src="assets/iconGithub.png" alt="" /></a></dd>
				<dd><a href="https://plus.google.com/u/0/109539327159979475398/posts"><img src="assets/iconGoogle.png" alt="" /></a></dd>
			</dl>
		</div>
	</div>

  </body>
</html>
