<!DOCTYPE html>
<!--
	siteMap.html
	Kevin Sau Yeung Kam
	My Website
	This is the about Me page
-->
<html>
  <head>
      <meta charset="utf-8" />
        <title>Kevin Sau Yeung Kam</title>
        <link rel="stylesheet" href="css/foundation.min.css" />		
        <link rel="stylesheet" href="css/normalize.css" />		
        <link rel="stylesheet" href="css/app.css" />
        <script src="scripts/libs/modernizr.js"></script>
  </head>
  <body>
    <% include partials/header.ejs %>
      
      <div class="row">
		<article class="large-3 medium-3 columns">
			<img src="assets/me.jpg" alt="" id="myImage"/>
		</article>
		<aside class="large-9 medium-9 columns">
			<p>
				I am currently a student at Centennial College studying Software Engineering.
				Prior to coming to Centennial College, I had attended the University of Toronto where I had studied Astronomy and Actuarial Science,
				and obtained my Bachelors of Science. Before starting post-secondary education, I had attended Sir John A MacDonald CI in Scarborough
			<br></br>
				Some of my hobbies include playing Video Games. Currently I play Starcraft 2 and am a Platinum Zerg (^_^). I am also playing CS:GO and am currently Silver IV (LOL).
				Basketball is something that I like watching and playing (unforunately I am not that good). I occasionally play some piano (currently working on Chopin Op. 25 No. 12). I also enjoy watching documentaries on science, society and history.
			</p>
			<blockquote>The problem, often not discovered until late in life, is that when you look for things in life like love, meaning, motivation, it implies they are sitting behind a tree or under a rock.
			The most successful people in life recognize, that in life they create their own love, they manufacture their own meaning, they generate their own motivation.
			For me, I am driven by two main philosophies, know more today about the world than I knew yesterday. And lessen the suffering of others. You'd be surprised how far that gets you.<cite>Neil deGrasse Tyson</cite></blockquote>
		</aside>
	</div>
	<br></br>
	<div class="row">
		<h2 class="large-offset-1">CV</h2>
		<h4 class="large-offset-1">Technical Skills</h4>
		<article class="large-12 large-offset-1 columns">			
			<p>
				<strong>Programming Languages</strong> C# (Visual Studio 2013), Java (Eclipse Kepler EE, Android)
				<br>
				<strong>Database Software</strong> Microsoft Access 2010, SQL Server 2008 R2, Oracle SQL, MySQL
				<br>
				<strong>Web Application Development</strong> html5, aspx/.net, xml, jsp
				<br>
				<strong>Proficiency in MS Office</strong> Excel, Word, Power Point, Access, Visio
				<br>
				<strong>Experience working with other software including</strong> SAS, R, Raiser's Edge
				<br>
				<strong>Operating Systems</strong> Windows(XP, 7, 8), Linux(Redhat, Fedora)
				<br>
				<strong>Knowledge of various financial concepts</strong> Accounting, Corporate Finance, Derivatives, Mutual Funds
			</p>
		</article>
		<h4 class="large-offset-1">Education</h4>
		<article class="large-8 medium-9 columns large-offset-1 columns">
			<p>
				<strong>Software Engineering Technology Advanced Diploma</strong>
				<br>Centennial College, Scarborough, ON
				<br></br>
				<strong>Actuarial Science and Physics/Astronomy Honours BSc</strong>
				<br>University of Toronto, Toronto, ON
				<br>
			</p>
		</article>
		<aside class="large-3 medium-3 columns hide-for-small">
			<p>
				<strong>Sep 2012 - Present</strong>
				<br>
				<br></br>
				<strong>Sep 2005 - Jun 2010</strong>
				<br>
				<br>
			</p>
		</aside>
			<!-- Making this part was rather hard, would have liked to add some bullet points under my job title to explain my duties, will probably do in
	 next iteration-->
		<h4 class="large-offset-1">Work Experience</h4>
		<article class="large-8 medium-9 columns large-offset-1 columns">
			<p>
				<strong>Tutor</strong>
				<br>Centennial College, Scarborough, ON
				<br></br>
				<strong>System Support Analyst</strong>
				<br>Transport Canada, North York, ON
			</p>
		</article>
		<aside class="large-3 medium-3 columns hide-for-small">
			<p>
				<strong>Sep 2013 - Dec 2013, Sep 2014 - Present</strong>
				<br></br>
				<strong>Jan 2014 - Aug 2014</strong>
				<br>
			</p>
		</aside>
	</div>      
      
    <% include partials/footer.ejs %>
      
      <script src="scripts/libs/jquery.js"></script>
	<script src="scripts/libs/foundation.min.js"></script>
	<script>$(document).foundation()</script>
  </body>
    
</html>
