<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
		<title>Kevin Sau Yeung Kam</title>
		<link rel="stylesheet" href="css/foundation.min.css" />		
		<link rel="stylesheet" href="css/normalize.css" />		
		<link rel="stylesheet" href="css/app.css" />
		<script src="scripts/libs/modernizr.js"></script>
  <body>
    <div class="row">
		<div class="large-2 small-2 columns">
			<img src="assets/logo.png" alt="" />
		</div>
		<div class="large-10 small-10 columns">	
			<div class="row">				
				<h1>Welcome to My Webpage!</h1>
			</div>
			<div class="row" id="mynav">		
				<!-- Nav Bar that contains 7 elements with a couple of dropdown lists, hidden when small-->
				<nav class="top-bar hide-for-small" data-topbar role="navigation">
					<section class="top-bar-section">
						<ul class="left">
							<li class="active">
								<a href="index.html">Home Page</a>
							</li>
							<li>
								<a href="aboutMe.html">About Me</a>
							</li>
							<li class="has-dropdown">
								<a href="project.html">Projects</a>
								<ul class="dropdown">
									<li><a href="projectJumper.html">Jumper!</a></li>
									<li><a href="projectAdvancedSpaceWars.html">Advanced Space Wars</a></li>
									<li><a href="projectSolarSystem.html">ThreeJS Solar System</a></li>
									<li><a href="projectAndroidHealth.html">Android Health App</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="services.html">Services</a>
								<ul class="dropdown">
									<li><a href="servicesDevelopment.html">Development</a></li>
									<li><a href="servicesWebDesign.html">Web Design</a></li>
									<li><a href="servicesTutoring.html">Tutoring</a></li>
								</ul>
							</li>
							<li class="hide-for-medium">
								<a href="https://github.com/alweky/">GitHub</a>
							</li>
							<li>
								<a href="contactMe.html">Contact Me</a>
							</li>
							<li class="hide-for-medium">
								<a href="siteMap.html">SiteMap</a>
							</li>
						</ul>
					</section>
				</nav>
				<!-- Breadcrumbs section which only shows for large and therefore is hidden for anything smaller-->
				<ul class="breadcrumbs hide-for-small hide-for-medium">
					 <li><a href="index.html">Home</a></li>
				</ul>
				<div class="icon-bar five-up hide-for-large hide-for-medium hide-for-xlarge">
					<a class="item" href="index.html">
						<img src="assets/navHome.png" >
						<label>Home</label>
					</a>
					<a class="item" href="aboutMe.html">
						<img src="assets/navAboutMe.png" >
						<label>About Me</label>
					</a>
					<a class="item" href="project.html">
						<img src="assets/navProject.png" >
						<label>Projects</label>
					</a>
					<a class="item" href="services.html">
						<img src="assets/navServices.png" >
						<label>Services</label>
					</a>
					<a class="item" href="contactMe.html">
						<img src="assets/navContact.png" >
						<label>Site Map</label>
					</a>
				</div>
			</div>
		</div>	
	</div>
  </body>
</html>
