<!DOCTYPE html>
<!--
	siteMap.html
	Kevin Sau Yeung Kam
	My Website
	This is the policy page
-->
<html>
  <head>
      <meta charset="utf-8" />
        <title>Kevin Sau Yeung Kam</title>
        <link rel="stylesheet" href="css/foundation.min.css" />		
        <link rel="stylesheet" href="css/normalize.css" />		
        <link rel="stylesheet" href="css/app.css" />
        <script src="scripts/libs/modernizr.js"></script>
  </head>
  <body>
    <% include partials/header.ejs %>
      <div class="row">
		<article class="large-12 columns large-offset-1">
			<h2>Privacy Policy</h2>
			<p>
				Because this website is currently being hosted on GitHub, please refer to their Privacy Policy for further information <a href="https://help.github.com/articles/github-privacy-policy/">here</a>.
				<br>I personally, do not collect your information as this is a basic website for my own needs, but your information may perhaps be collected by Github
			</p>
		</article>
	</div>
    <% include partials/footer.ejs %>
      
      <script src="scripts/libs/jquery.js"></script>
	<script src="scripts/libs/foundation.min.js"></script>
	<script>$(document).foundation()</script>
  </body>
    
</html>
