<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
        <title>Kevin Sau Yeung Kam</title>
        <link rel="stylesheet" href="css/foundation.min.css" />		
        <link rel="stylesheet" href="css/normalize.css" />		
        <link rel="stylesheet" href="css/app.css" />
        <script src="scripts/libs/modernizr.js"></script>
  </head>
  <body>
    <% include partials/header.ejs %>
      <div class="row">
		<div class="large-12 columns">
			<h2 class="large-offset-1">Projects</h2>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a href="projectJumper.html">
								<img src="assets/jumperThumb.png" alt="" />
							</a>
						</td>
						<td>
							<h5>Jumper!</h5>							
							<p>This was a game that I developed for in my COMP397 class. It is a html5 game based on the Box2d engine and 
							   is a simple platforming game where you take control of a "gum stick"
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<a href="projectAdvancedSpaceWars.html">"
								<img src="assets/advancedSpaceWarsThumb.png" alt="" />
							</a>
						</td>
						<td>
							<h5>Advanced Space Wars</h5>							
							<p>This was a game that I developed for in my COMP397 class. It is a html5 game based on the Box2d engine and 
							   is a simple space shooter where one can shoot lasers and torpedo.
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<a href="projectSolarSystem.html">
								<img src="assets/solarSystemThumb.png" alt="" />
							</a>
						</td>
						<td>
							<h5>ThreeJS Solar System</h5>							
							<p>This was a game that I developed for in my COMP392 class. It is a solar system based on the ThreeJS library.
							There are eight planets and Saturn has two moons orbiting it as well."
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<a href="projectAndroidHealth.html">"
								<img src="assets/androidHealthThumb.png" alt=""/>
							</a>
						</td>
						<td>
							<h5>Android Health App</h5>
							<p>This is an app was I developed for my COMP304 class. It is an health app that connects to a web service in order
							to record vital signs and other information of a patient.
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    <% include partials/footer.ejs %>
      
      <script src="scripts/libs/jquery.js"></script>
	<script src="scripts/libs/foundation.min.js"></script>
	<script>$(document).foundation()</script>
  </body>
    
</html>
