<!DOCTYPE html>
<!--
	siteMap.html
	Kevin Sau Yeung Kam
	My Website
	This is the services Tutoring page
-->
<html>
  <head>
      <meta charset="utf-8" />
        <title>Kevin Sau Yeung Kam</title>
        <link rel="stylesheet" href="css/foundation.min.css" />		
        <link rel="stylesheet" href="css/normalize.css" />		
        <link rel="stylesheet" href="css/app.css" />
        <script src="scripts/libs/modernizr.js"></script>
  </head>
  <body>
    <% include partials/header.ejs %>
      <div class="row">
		<article class="large-12 columns large-offset-1">
			<h2>Tutoring</h2>
			<p>
				I have over three years of tutoring and also over eight months of professional experience at Centennial College
				<br></br>
				Some of the subjects that I tutor, include the following (for High School):
				<ul>
				<li>Physics (High School)</li>
				<li>Chemistry (Grade 11)</li>
				<li>Mathematics (including Data Management, Calculus/Vectors)</li>
				<li>Economics</li>
				<li>Accounting</li>
				</ul>
				For College, I tutor the following subjects:
				<ul>
				<li>Programming (Java, C#)</li>
				<li>Web Development (html5, css3, jscript)</li>
				<li>Database (Oracle, MySQL, SQLServer, Access)</li>
				</ul>
			</p>
		</article>
	</div>
    <% include partials/footer.ejs %>
      
      <script src="scripts/libs/jquery.js"></script>
	<script src="scripts/libs/foundation.min.js"></script>
	<script>$(document).foundation()</script>
  </body>
    
</html>
