<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
        <title>Kevin Sau Yeung Kam</title>
        <link rel="stylesheet" href="css/foundation.min.css" />		
        <link rel="stylesheet" href="css/normalize.css" />		
        <link rel="stylesheet" href="css/app.css" />
        <script src="scripts/libs/modernizr.js"></script>
  </head>
  <body>
    <% include partials/header.ejs %>
      <div class="row">
		<article class="large-12 columns large-offset-1">
			<h2>Software Development</h2>
			<p>
				I have experience using many different object oriented languages and non object oriented languages, some of these include:
				<ul>
					<li>Java</li>
					<li>C#</li>
					<li>jscript</li>
				</ul>
				I also have an understanding of Agile Development process
			</p>
		</article>
	</div>
    <% include partials/footer.ejs %>
      
      <script src="scripts/libs/jquery.js"></script>
	<script src="scripts/libs/foundation.min.js"></script>
	<script>$(document).foundation()</script>
  </body>
    
</html>
