<!DOCTYPE html>
<!--
	siteMap.html
	Kevin Sau Yeung Kam
	My Website
	This is the siteMap page
-->
<html>
  <head>
      <meta charset="utf-8" />
        <title>Kevin Sau Yeung Kam</title>
        <link rel="stylesheet" href="css/foundation.min.css" />		
        <link rel="stylesheet" href="css/normalize.css" />		
        <link rel="stylesheet" href="css/app.css" />
        <script src="scripts/libs/modernizr.js"></script>
  </head>
  <body>
    <% include partials/header.ejs %>
      <div class="row">
		<article class="large-12 columns large-offset-1">
			<h2>Site Map</h2>
			<p>
				<a href="/index">Home Page</a>
			</p>
			<p>
				<a href="/aboutMe">About Me</a>
			</p>
		</article>
	</div>
	<div class="row">
		<article class="large-3 medium-3 columns large-offset-1">
				<a href="/project">Projects</a>
		</article>
		<aside class="large-6 medium-6 columns large-offset-1">
			<a href="/projectJumper">Jumper!</a>
			<br>
			<a href="/projectJumper">Advanced Space Wars</a>
			<br>
			<a href="/projectJumper">ThreeJS Solar System</a>
			<br>
			<a href="/projectJumper">Android Health App</a>
			<br></br>
		</aside>
	</div>
	<div class="row">
		<article class="large-3 medium-3 columns large-offset-1">
				<a href="/services">Services</a>
		</article>
		<aside class="large-6 medium-6 columns large-offset-1">
			<a href="/servicesDevelopment">Development</a>
			<br>
			<a href="/servicesWebDesign">Web Design</a>
			<br>
			<a href="/servicesTutoring">Tutoring</a>
			<br></br>
		</aside>
	</div>
	<div>
	<div class="row">
		<article class="large-12 columns large-offset-1">
			<p>
				<a href="https://github.com/alweky/">Github</a>
			</p>
			<p>
				<a href="/contactMe">Contact Me</a>
			</p>
			<p>
				<a href="/siteMap">Site Map</a>
			</p>
		</article>
	</div>
    <% include partials/footer.ejs %>
      
      <script src="scripts/libs/jquery.js"></script>
	<script src="scripts/libs/foundation.min.js"></script>
	<script>$(document).foundation()</script>
  </body>
    
</html>
